body {
  height: 100%;
  width: 100%;
  
  z-index: -5;
  background-color: #f0f0f0;
}

.bg {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; /* <------ */

  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  position: absolute;
  z-index: -1;
  display: none;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#overlay {
}
.name-overlay {
  background: rgb(210, 210, 210, .9);
  filter: blur(10px);
  -webkit-filter: blur(2px);
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}

#overlay > input {
    z-index: 10;
    position: absolute;
    top: 45vh;
    right: 43vw;
    height: 2em;
    width: 8em;
    border-radius: 1em;
    padding-left: 1em;
}

#overlay > input:focus {
  outline: none;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: inline-flex;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.search {
  border-radius: 0.5em;
  padding-left: 0.4em;
  padding-right: 1.2em;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  width: 23vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.search:focus {
  outline: none;
}

.submit {
  margin-left: 12em;
  height: 2em;
  width: 2em;
  z-index: 1;
}

.clock {
  position: absolute;
  display: inline-flex;
  top: 40%;
  left: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 800%;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  letter-spacing: -5px;
  height: auto;
  width: auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

button,
input {
  font-size: 2em;
}

.clocktext {
  display: flex;
  margin: 0;
  padding: 1px 0 0 0;
  width: 500px;
  height: 500px;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  color: white;
  font-size: 800%;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  letter-spacing: -5px;
  height: auto;
  width: auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#time {
  display: inline-flex;
  font-size: 9rem;
  padding-left: 0.1em;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}
#time span {
  display: flex;
  padding: 0;
  width: 2em;
  font-size: 1.5rem;
  line-height: 3.2;
  white-space: normal;
  display: block;
  letter-spacing: 0.02em;
  position: relative;
  margin-left: .5em;
}
.infotext {
  display: flex;
  padding: 0 5px 0 5px;
  font-size: 1.3rem;
  line-height: 1.4;
}
#weather {
  position: absolute;
  font-size: 3em;
  top: 0;
  right: 1.5em;
  
}
/* Custom icons made with Unicode symbols and CSS */
#icon {
  opacity: 0;
  right: 0em;


}
.weathericons {
  font-family: sans-serif;
  font-size: 50px;
  display: inline-flex;
}
.weathericons > div {
  display: inline-flex;
  line-height: 1;
  margin-left: 1vw;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  top: 0.11em;
  right: 0;
  font-size: 1.5em;
}

.i01d {
  background: radial-gradient(ellipse at center, #f1e767 0%, #feb645 100%);
  border-radius: 100%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i01n {
  background: radial-gradient(ellipse at center, #99b 0%, #335 100%);
  border-radius: 100%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i02d:before {
  font-size: 70%;
  content: "\2600";
  color: #ff0;
  position: absolute;
  left: -20%;
  top: -30%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i02d:after {
  content: "\2601";
  color: #ffe;
  position: relative;
  top: 1%;
  left: -10%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i02n:before {
  font-size: 150%;
  content: "•";
  color: #335;
  position: absolute;
  left: -15%;
  top: -30%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i02n:after {
  content: "\2601";
  color: #ccc;
  position: relative;
  top: 1px;
  left: -10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i03d:before {
  content: "\2601";
  color: #ffe;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i03n:before {
  content: "\2601";
  color: #ccc;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i04d:before {
  content: "\2601";
  color: #333;
  position: absolute;
  left: 4%;
  top: -4%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i04d:after {
  content: "\2601";
  color: #ffe;
  position: absolute;
  left: 0%;
  top: 10%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i04n:before {
  content: "\2601";
  color: #666;
  position: absolute;
  left: 4%;
  top: -4%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i04n:after {
  content: "\2601";
  color: #ccd;
  position: absolute;
  left: 0%;
  top: 10%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i09d:before,
.i09n:before {
  content: "\1F327";
  color: #ffe;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i10d:before {
  content: "\1F326";
  color: #ffe;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i10n:before {
  font-size: 150%;
  content: "•";
  color: #533;
  position: absolute;
  left: -15%;
  top: -30%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i10n:after {
  content: "\1F327";
  color: #ccc;
  position: relative;
  top: 1%;
  left: -10%;
  opacity: 0.9;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}

.i11d:before,
.i11n:before {
  content: "\26c8";
  color: #333;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  display: inline-flex;

}
.i11n {
  opacity: 0.8;
}

.i13d:before,
.i13n:before {
  content: "\1F328";
  color: #ffe;
}
.i13d:after,
.i13n:after {
  content: "\26C4";
  position: relative;
  left: -50%;
  top: -30%;
  font-size: 60%;
}
.i13n {
  opacity: 0.8;
}

.i50d:before,
.i50n:before {
  content: "\FE4C";
  color: #678;
  position: relative;
  left: 0%;
  top: -5%;
}
.i50d:after,
.i50n:after {
  content: "\FE4C";
  color: #456;
  position: relative;
  left: -100%;
  top: 20%;
}

.clock-container {
}


.bg-picker {
position: absolute;
width: 4em;
height: 4em;
top: auto;
left: .5em;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */

}

.bg-picker:hover:not(.active) {
  opacity: 0.7;
}

.bg-picker.cow {
  left: 5em;
}

.bg-picker.tabby {
width: 3.5em;
height: 3.5em;
top: .2em;
}

.bg-picker.active {
  transition: .2s;
  -webkit-filter: grayscale(0);
}

.greeting {
  top: 55%;
  bottom: 50%;
  left: 30vw;
  width: auto;
  height: auto;
  display: inline-flex;
  font-size: 500%;
  font-weight: 900;
  color: white;
  position: absolute;
}