body {
  overflow: hidden;
}

.bg {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; /* <------ */

  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  position: absolute;
  z-index: -1;
  display: none;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

/* Safari, Chrome and Opera > 12.1 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#masterContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100vh;
  width: 100vw;

}
.flex-container {
  display: flex;
  flex-basis: 100%;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-flow: column;

  align-items: center;
  justify-content: center;
}

.flex-container.flex-center-bottom {

  top: auto;
  bottom: 0;
  margin-bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.absolute-center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.search {
  border-radius: 0.5em;
  padding-left: 0.4em;
  padding-right: 1.2em;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  width: 23vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.search:focus {
  outline: none;
}

.submit {
  position: absolute;
  height: 2em;
  width: 2em;
  z-index: 1;
  right: 0.5em;
  top: 0.7em;
}

button,
input {
  font-size: 2em;
}


.weather-setting-icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 7em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.weather-setting-icon.active {
  transition: 0.2s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.freeze-setting-icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 9.2em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.freeze-setting-icon.active {
  transition: 0.2s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.menu-nuke-history {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 12.2em;
  z-index: 10;
}

.bg-picker {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 2em;
  left: 0.5em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.topsites-container {

  display: inline-flex;
  margin-top: 10em;
  grid-row: 1;
  width: 30rem;
  flex-wrap: wrap;
  margin-left: 1.7em;
  padding-left: .5em;
  padding-bottom: 1em;
  z-index: 1000;
}

.topsites-box:hover:before {
content: attr(data-title) '\A\A' attr(data-link);
  white-space: pre-line;

flex-grow: 1;

flex-wrap: wrap;
padding: .7em .7em .7em .7em;

margin-left: -2em;
font-size: 1.3em;
width: 100vw;
margin-top: 4.2em;
height: max-content;


background: black;
color: white;
border: 2px solid white;

border-radius: 1em;

animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: .5s;

z-index: -1;

}

.topsites-box:hover::after {
	content: '';
  position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
  border-bottom-color: black;

  border-left: 3px solid white;
  border-top: 0;
	margin-left: -10px;
  margin-top: 4.4em;
  
  animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: .5s;

}

.topsites-box {
  background: rgb(255, 255, 255, .85);
  margin-right: 1.3em;
  margin-top: 1.3em;
  border-radius: 3em;
  
  flex-direction: row;
  display: flex;

  height: 72px;
  width: 72px;  
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;

  transform: translateZ(0);
}

.topsites-box::before {
  display: block;
  content: ' ';
  background-image: url('../icons/history.png');
  background-size: 28px 28px;
  border-radius: 3em;
  height: 28px;
  width: 28px;
  z-index: 10;

  transform: translateZ(0);
}


.topsites-box > img {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 3em;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  box-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000,
    3px 3px 0 #000;

    transform: translateZ(0);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.topsites-box > img:hover {
  opacity: 0.8;
  transform: translateZ(0);
}

.bg-picker:hover:not(.active) {
  opacity: 0.7;
}

.bg-picker.cow {
  width: 2.6em;
  height: 2.6em;
  top: 4.2em;
}

.bg-picker.tabby {
  left: 3em;
}

.bg-picker.vanilla {
  top: 1.8em;
  width: 2.5em;
  height: 2.5em;
  left: .3em;
}

.settings-divider {
  content: "";
  top: 7em;
  width: 10em;
  height: 5em;
  display: inline-flex;
  margin-right: -20em;
  position: absolute;
  background: grey;
}

.settings-menu-name {
  position: absolute;
  font-size: 1em;
  display: inline-flex;
  width: 10em;
  height: 1.2em;
  color: white;
  background: grey;
  padding-left: 1.3em;
  padding-top: .2em;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -.1em;
}

.settings-menu-name-reset {
  position: absolute;
  height: 1em;
  width: 1em;
  display: inline-flex;
  left: auto;
  padding-left: .2em;
  padding-top: .1em;
  z-index: 100;
}


.bg-picker.active {
  transition: 0.2s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.settings {
  position: absolute;
  display: flex;
  width: 2em;
  height: 2em;
  bottom: 0;
  right: 0;
  margin-right: .5em;
  margin-bottom: 0.5em;
  z-index: 10;
}

.fSpin {
  -webkit-animation-name: fSpin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  
  animation-name: fSpin;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.rSpin {
  -webkit-animation-name: rSpin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;

  animation-name: rSpin;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes fSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.display-none {
  display: none !important;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.search-container {
  height: auto;
  width: auto;
  display: inline-flex;
}

#time {
  display: block;

  font-size: 2.4vh;

  width: 16vw;
  height: auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  left: 0;
  right: 0;
  margin-left: 37vw;
  margin-top: auto;
  margin-bottom: .4em;
  bottom: 0;
  
  padding-right: 6vw;

}
#time > span {
}

@media only screen and (max-width: 1500px) {
  #time {
    padding-right: 4vw;
  }
}

.meridian {
  display: inline-block;
  position: absolute;
}

.seconds {
  display: inline-block;
  width: 2.5em;
}


.clocktext {
  
  font-family: 'Audiowide', cursive;

  color: white;
  font-weight: 900;
  letter-spacing: .15em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

}

/* #time span {
  display: flex;
  padding: 0;
  width: 2em;
  font-size: 1.5rem;
  line-height: 3.2;
  white-space: normal;
  display: block;
  letter-spacing: 0.02em;
  position: relative;
  margin-left: 0.5em;
}
*/
.infotext {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin-right: .3em;
  margin-top: .1em;
}

/* Custom icons made with Unicode symbols and CSS */
#icon {
  opacity: 0;
  display: inline-flex;
  
}
.weather {
  display: inline-flex;
  width: 1em;
  height: 1em;

  margin-top: auto;

  font-size: 1.5rem;
  margin-bottom: .5em;
}

.weather-icons {
  font-family: sans-serif;
  font-size: 2.8em;
  margin-left: .5em;
  margin-right: auto;

}
.weather-icons > div {
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;

  margin-top: auto;
  margin-bottom: -.35em;
}

.i01d {
  background: radial-gradient(ellipse at center, #f1e767 0%, #feb645 100%);
  border-radius: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i01n {
  background: radial-gradient(ellipse at center, #99b 0%, #335 100%);
  border-radius: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i02d:before {
  font-size: 70%;
  content: "\2600";
  color: #ff0;
  position: absolute;
  left: -20%;
  top: -30%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02d:after {
  content: "\2601";
  color: #ffe;
  position: relative;
  top: 1%;
  left: -10%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02n:before {
  font-size: 150%;
  content: "•";
  color: #335;
  position: absolute;
  left: -15%;
  top: -30%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02n:after {
  content: "\2601";
  color: #ccc;
  position: relative;
  top: 1px;
  left: -10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i03d:before {
  content: "\2601";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i03n:before {
  content: "\2601";
  color: #ccc;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i04d:before {
  content: "\2601";
  color: #333;
  position: absolute;
  left: 4%;
  top: -4%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i04d:after {
  content: "\2601";
  color: #ffe;
  position: absolute;
  left: 0%;
  top: 10%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i04n:before {
  content: "\2601";
  color: #666;
  position: absolute;
  left: 4%;
  top: -4%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i04n:after {
  content: "\2601";
  color: #ccd;
  position: absolute;
  left: 0%;
  top: 10%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i09d:before,
.i09n:before {
  content: "\1F327";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i10d:before {
  content: "\1F326";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: inline-flex;
}

.i10n:before {
  font-size: 150%;
  content: "•";
  color: #533;
  position: absolute;
  left: -15%;
  top: -30%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i10n:after {
  content: "\1F327";
  color: #ccc;
  position: relative;
  top: 1%;
  left: -10%;
  opacity: 0.9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i11d:before,
.i11n:before {
  content: "\26c8";
  color: #333;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i11n {
  opacity: 0.8;
}

.i13d:before,
.i13n:before {
  content: "\1F328";
  color: #ffe;
}
.i13d:after,
.i13n:after {
  content: "\26C4";
  position: relative;
  left: -50%;
  top: -30%;
  font-size: 60%;
}
.i13n {
  opacity: 0.8;
}

.i50d:before,
.i50n:before {
  content: "\FE4C";
  color: #678;
  position: relative;
  left: 0%;
  top: -5%;
}
.i50d:after,
.i50n:after {
  content: "\FE4C";
  color: #456;
  position: relative;
  left: -100%;
  top: 20%;
}


.greeting {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: .1em;
  font-weight: 900;
  color: white;
  margin-top: .5em;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
  2px 2px 0 #000;
}

.notes {
  width: 3em;
  height: 3em;
  padding-left: .5em;
  padding-top: .2em;
}

.notes:hover {

}

.settings-menu {
  background: #696969	;
  position: absolute;
  display: flex;
  width: 6em;
  height: 14.5em;
  bottom: 3em;
  right: 0;
  margin-right: -.5em;
  border-radius: .5em;
  border: 2px solid black;
  transition: width 1s;
  overflow: hidden;


  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.settings-menu.hidden {
  width: 0em;
  transition: width .5s;

  -webkit-transform: translatez(0);
  transform: translatez(0);
}


.typewriter {
  color: black;
  font-family: serif;
  font-size: 3em;
  position: absolute;
  top: 40vh;
  left: 40vw;
  width: 500px;
  height: 500px;

  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.typedText {
  display: inline;
  white-space: no-wrap;
  overflow: auto;
}

.blink {
  font-weight: bold;
  animation: 
  blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to { color: transparent }
  25% { color: black; }
}

.name-overlay {
  background: rgb(255, 255, 255, 1);
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}

#overlay > input {
  z-index: 10;
  position: absolute;
  top: 45vh;
  right: 43vw;
  height: 2em;
  width: 8em;
  border-radius: 1em;
  padding-left: 1em;
}

#overlay > input:focus {
  outline: none;
}


/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-flex;
  width: 3em;
  height: 1.5em;
}

.switch.weather {
  top: 7.3em;
  left: 2.5em;
}

.switch.freeze {
  top: 9.5em;
  left: 2.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  height: 1.5em;
  width: 1.5em;

  content: "";
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.calendar-event {
  font-size: 2em;
  width: auto;
  height: auto;
  white-space: none;
  word-wrap: none;
  display: inline-flex;
  margin-top: 15em;
  color: white;
  font-weight: 900;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
  2px 2px 0 #000;

}

.tray {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 10vh;
  background: rgb(220, 220, 220, .8);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
