/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,
ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */

/* REDESIGN SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* REDESIGN SCROLLBAR END */

/* GENERAL HACKS */

input {
  /* Use GPU */
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

label {
  /* Use GPU */
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

/* GENERAL HACKS END */

body {
  overflow: hidden;
}

button,
input {
  font-size: 2em;
}

.background {
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  position: absolute;
  z-index: -1;
  display: none;

  animation: fadein 2s;
}

.background__image {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container__master {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  flex-basis: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-flow: column;

  align-items: center;
  justify-content: center;
}

.flex-container.flex-center-bottom {
  top: auto;
  bottom: 0;
  margin-bottom: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.absolute-center {
  position: absolute;
  top: 18vh;
  left: 50vw;

  transform: translate(-50%, -50%);
}
.search {
  border-radius: 0.5em;
  padding-left: 0.4em;
  padding-right: 1.2em;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  width: 23vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.search:focus {
  outline: none;
}

.submit {
  position: absolute;
  height: 2em;
  width: 2em;
  z-index: 1;
  right: 0.5em;
  top: 0.7em;
}

.settings__icon--active {
  transition: 0.2s;
  filter: grayscale(0) !important;
}

.settings__weather__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 7em;
  filter: grayscale(100%);
}

.settings__freeze__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 9.2em;
  filter: grayscale(100%);
}


.settings__topsites__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 11.4em;
  filter: grayscale(100%);
}

.settings__recent-history__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 13.6em;

  filter: grayscale(100%);
}

.settings__tray__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  left: 0.2em;
  top: 15.8em;
  filter: grayscale(100%);
}

.bg-picker {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 2em;
  left: 0.5em;
  filter: grayscale(100%);
}

.topsites-container {
  display: flex;
  margin-top: 40vh;
  grid-row: 2;
  width: 30rem;
  margin-left: 1em;
  padding-left: 0.5em;
  padding-bottom: 1em;
  z-index: 1000;
}

.tsites-container {
  display: flex;
  margin-top: 28vh;
  grid-row: 1;
  width: auto;

  margin-left: 1em;

  padding-left: 0.5em;
  padding-bottom: 1em;
  z-index: 1000;
}

.topsites-box:hover:before {
  content: attr(data-title) "\A\A"attr(data-link);
  white-space: pre-line;

  flex-grow: 1;

  flex-wrap: wrap;
  padding: 0.7em 0.7em 0.7em 0.7em;

  margin-left: -2em;
  font-size: 1.3em;
  width: 100vw;
  margin-top: 4.2em;
  height: max-content;

  background: black;
  color: white;
  border: 2px solid white;

  border-radius: 1em;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;

  z-index: -1;
}

.topsites-box:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: black;

  border-left: 3px solid white;
  border-top: 0;
  margin-left: -10px;
  margin-top: 4.4em;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.tsites-box:hover {
  opacity: 0.7;
}

.topsites-box {
  background: rgb(255, 255, 255, 0.85);
  margin-right: 1.3em;
  margin-top: 1.3em;
  border-radius: 3em;

  flex-direction: row;
  display: flex;

  height: 72px;
  width: 72px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  transform: translateZ(0);
}

.topsites-box::before {
  display: block;
  content: " ";
  background-image: url("../icons/history.png");
  background-size: 28px 28px;
  border-radius: 3em;
  height: 28px;
  width: 28px;
  z-index: 10;

  transform: translateZ(0);
}

/* .tsites-box__top {
  position: relative;
  display: block;
  margin-right: -2em;
  content: " ";
  background-image: url("../icons/heart.png");
  background-size: 36px 36px;
  border-radius: 1em;
  height: 36px;
  width: 36px;
  z-index: 100;

  -webkit-animation: fadein .5s;
  animation: fadein .5s;

  }
*/

.topsites-box > img {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 3em;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  box-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 3px 3px 0 #000;

  transform: translateZ(0);
}

.tsites-box {
  background: rgb(255, 255, 255, 0.85);
  margin-right: 1.3em;
  border-radius: 3em;

  flex-direction: row;
  display: flex;

  height: 100px;
  width: 100px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  transform: translateZ(0);

  overflow: hidden;

  box-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 3px 3px 0 #000;

  text-align: center;
}

.tsites-box > img {
  width: 3em;
  height: 3em;
  margin: auto;
  margin-bottom: 0em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;

  border-radius: 3em;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;

  transform: translateZ(0);
}

.tsites-box:after {
  font-size: 0.8em;
  color: black;
  position: absolute;
  content: attr(data-shortlink);
  font-weight: 900;

  width: auto;
  margin-bottom: 1.2em;

  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  padding-right: 1em;
  padding-left: 1em;
}

.topsites-box > img:hover {
  opacity: 0.8;
  transform: translateZ(0);
}

.bg-picker:hover:not(.active) {
  opacity: 0.7;
}

.bg-picker.cow {
  width: 2.6em;
  height: 2.6em;
  top: 4.2em;
}

.bg-picker.tabby {
  left: 3em;
}

.bg-picker.vanilla {
  top: 1.8em;
  width: 2.5em;
  height: 2.5em;
  left: 0.3em;
}

.bg-picker.active {
  transition: 0.2s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.fSpin {
  animation-name: fSpin;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.rSpin {
  animation-name: rSpin;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.display-none {
  display: none !important;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.search-container {
  height: auto;
  width: auto;
  display: inline-flex;
}

#time {
  display: block;

  font-size: 3vh;

  width: 16vw;
  height: auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  left: 0;
  right: 0;
  margin-left: 37vw;
  margin-top: auto;
  margin-bottom: 0.4em;
  bottom: 0;

  padding-right: 6vw;
}

.meridian {
  display: inline-block;
  position: absolute;
}

.seconds {
  display: inline-block;
  width: 2.5em;
}

.clocktext {
	font-family: Consolas,monaco,monospace; 

  color: white;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* #time span {
  display: flex;
  padding: 0;
  width: 2em;
  font-size: 1.5rem;
  line-height: 3.2;
  white-space: normal;
  display: block;
  letter-spacing: 0.02em;
  position: relative;
  margin-left: 0.5em;
}
*/
.infotext {
  display: flex;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  margin-top: 0.1em;
}

#icon {
  opacity: 0;
  display: inline-flex;
  padding-bottom: 0.1em;
}

.weather:hover:after {
  display: inline-flex;

  content: attr(data-title);
  white-space: pre-line;

  flex-grow: 1;

  flex-wrap: wrap;
  padding: 0.7em 0.7em 0.7em 0.7em;

  margin-left: -2em;
  font-size: 1.3em;
  width: 100vw;
  margin-top: 4.2em;
  height: max-content;

  background: black;
  color: white;
  border: 2px solid white;

  border-radius: 1em;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;

  z-index: -1;
}

.weather {
  display: inline-flex;
  width: 1em;
  height: 1em;

  margin-top: auto;

  font-size: 2rem;
  margin-bottom: 0.3em;

  margin-left: -1em;


}

.weather-icons {
  display: inline-flex;

  font-family: sans-serif;
  font-size: 2.8em;
  margin-left: 0.5em;
  margin-right: auto;
  
  margin-bottom: 0.4em;

}
.weather-icons > div {
  display: inline-flex;

  padding: 0;
  height: 1.5rem;
  width: 1.5rem;

  margin-top: auto;
  margin-bottom: -0.35em;

}

.greeting {
  display: inline-block;
  width: auto;
  height: auto;
  white-space: nowrap;

  font-size: 400%;
  top: 80vh;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  letter-spacing: 0.1em;
  font-weight: 900;
  color: white;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.typewriter {
  color: black;
  font-family: serif;
  font-size: 3em;
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;

  transform: translatez(0);
}

.typedText {
  display: inline;
  white-space: no-wrap;
  overflow: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.blink {
  font-weight: bold;
  animation: blink-caret 1s step-end infinite;
}

.name-overlay {
  background: rgb(255, 255, 255, 1);
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 4000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline-flex;
}

#overlay > input {
  z-index: 4001;
  position: relative;
  display: flex;
  padding: .5em .5em .5em .5em;
  top: 50vh;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: 45vw;
  height: auto;
  width: 7em;
  border-radius: 1em;
}

#overlay > input:focus {
  outline: none;
}

.switch {
  position: absolute;
  display: inline-flex;
  width: 3em;
  height: 1.5em;
  font-size: 1em;

  transform: translatez(0);
}

.switch__weather {
  top: 7.3em;
  left: 2.5em;
}

.switch__freeze {
  top: 9.5em;
  left: 2.5em;
}

.switch__topsites {
  top: 11.7em;
  left: 2.5em;
}

.switch__recent-history {
  top: 13.9em;
  left: 2.5em;

}

.switch__tray {
  top: 16.1em;
  left: 2.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  height: 1.5em;
  width: 1.5em;

  content: "";
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider--round {
  border-radius: 34px;
}

.slider--round:before {
  border-radius: 50%;
}

.tray {
  display: flex;

  height: 8vh;
  background: rgb(220, 220, 220, 0.8);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 1em;
}

.tray > img {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top: 0.5em;
}

.tray > img:hover {
  opacity: 0.6;
}

.settings {
  bottom: 0.2em;
  right: 0.15em;
  position: absolute;
  z-index: 10;
  width: 3em;
  height: 3em;
}

.settings-divider {
  content: "";
  top: 7em;
  width: 10em;
  height: 11.3em;
  display: inline-flex;
  margin-right: -20em;
  position: absolute;
  background: grey;
}

.settings-menu {
  background: #696969;
  position: absolute;
  display: flex;
  width: 6em;
  height: 20.3em;
  bottom: 3.3em;
  right: 0;
  margin-right: -0.5em;
  border-radius: 0.5em;
  border: 2px solid black;
  transition: width 1s;
  overflow: hidden;

  transform: translatez(0);
}

.settings__menu--hidden {
  width: 0em !important;
  transition: width 0.5s;

  transform: translatez(0);
}

.settings-menu-name {
  position: absolute;
  font-size: 1em;
  display: inline-flex;
  width: 10em;
  height: 1.2em;
  color: white;
  background: grey;
  padding-left: 1.3em;
  padding-top: 0.2em;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.1em;
}

.settings-menu-name-reset {
  position: absolute;
  height: 1em;
  width: 1em;
  display: inline-flex;
  left: auto;
  padding-left: 0.2em;
  padding-top: 0.1em;
  z-index: 100;
}

.menu-nuke-history {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: 2.3em;
  top: 18.5em;
  z-index: 10;
}

.notes__overlay {
  position: absolute;

  padding-top: 1.7em;
  height: 20vh;
  width: 15rem;
  min-height: 20vh;
  min-width: 15rem;
  margin-left: 1em;
  background: rgb(255, 225, 100);
  z-index: 1002;

  opacity: 1;
  visibility: visible;

  border: 1px solid grey;

  transition: opacity 0.5s;

  overflow: hidden;
}

.notes__overlay__textarea {
  font-size: 1.5em;

  position: absolute;

  padding: 0.5em 0.5em 0.5em 0.5em;

  border: none;

  width: 15rem;
  height: 20vh;
  background: rgb(255, 255, 136);

  outline: none;

  box-sizing: border-box;
  resize: none;
}

.notes__overlay--hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.notes__overlay__cancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  z-index: 5000;
  visibility: visible;
  opacity: 1;
  cursor: pointer;

  padding-right: .2em;
  margin-top: .2em;

  background-image: url("../icons/cancel.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.notes__overlay__cancel:hover {
  opacity: 0.6;
}
.notes__overlay__cancel:active {
  filter: brightness(0) invert(1);
  transition: 0.05s;
}

/* WIP */
.popup {
  position: absolute;
  background: rgba(0, 0, 0, 1);
  border-radius: 1em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto auto auto;
  width: 40vw;
  height: 50vh;
  z-index: 5000;
  border: 2px solid white;

}

.popup > input {
  position: relative;
  display: block;
  padding: .3em .3em .3em .3em;
  outline: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  font-size: 1.5em;

  width: 10em;
  height: .5em;
}

.popup__blur {
  position: absolute;
  filter: blur(1px);
  background: rgb(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 4000;
 }

 .traypop {
  position: absolute;

  display: flex;

  font-size: 2em;
  width: auto;
  height: auto;

  background: black;
  color: white;
  border: 2px solid white;

 }

/* WIP END */

/* ICONS */
.i01d {
  background: radial-gradient(ellipse at center, #f1e767 0%, #feb645 100%);
  border-radius: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i01n {
  background: radial-gradient(ellipse at center, #99b 0%, #335 100%);
  border-radius: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i02d:before {
  font-size: 70%;
  content: "\2600";
  color: #ff0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02d:after {
  content: "\2601";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02n:before {
  font-size: 150%;
  content: "•";
  color: #335;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i02n:after {
  content: "\2601";
  color: #ccc;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i03d:before {
  content: "\2601";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i03n:before {
  content: "\2601";
  color: #ccc;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i04d:before {
  content: "\2601";
  color: #333;
  position: absolute;
  margin-left: 5px;
  z-index: -1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i04d:after {
  content: "\2601";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i04n:before {
  
  content: "\2601";
  color: #666;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i04n:after {
  position: absolute;
  margin-left: 5px;
  content: "\2601";
  color: #ccd;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i09d:before,
.i09n:before {
  position: absolute;
  margin-top: -.15em;
  content: "\1F327";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i10d:before {
  content: "\1F326";
  color: #ffe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: inline-flex;
}

.i10n:before {
  font-size: 150%;
  content: "•";
  color: #533;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i10n:after {
  content: "\1F327";
  color: #ccc;
  opacity: 0.9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.i11d:before,
.i11n:before {
  content: "\26c8";
  color: #333;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.i11n {
  opacity: 0.8;
}

.i13d:before,
.i13n:before {
  content: "\1F328";
  color: #ffe;
}
.i13d:after,
.i13n:after {
  content: "\26C4";
  font-size: 60%;
}
.i13n {
  opacity: 0.8;
}

.i50d:before,
.i50n:before {
  position: relative;
  content: "\FE4C";
  color: #678;
}
.i50d:after,
.i50n:after {
  position: absolute;
  margin-top: 10px;
  content: "\FE4C";
  color: #456;
}

/* ICONS END */

/* ANIMATIONS */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    color: transparent;
  }
  25% {
    color: black;
  }
}

@keyframes fSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* ANIMATIONS END */

/* MEDIA QUERIES */

@media only screen and (max-width: 1500px) {
  #time {
    font-size: 1.5em;
    padding-right: 4vw;
  }
  .greeting {
    font-size: 250%;
  }
  .weather {
  font-size: 1.8em;
  margin-right: 0.3em;
  }
  .topsites-container {
  padding-top: 1.8em;
  }
}
/* MEDIA QUERIES END */
